.btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px;
  border-radius: 4px;
  font-weight: 500;
  transition:  background-color 0.4s ease;

  &:hover {
    background-color: darken(white, 50)
  }

  &-primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 15)
    }
  }

  &-block {
    width: 100%;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    background: lighten( $dark-grey, 50);
    cursor: not-allowed;
  }
}